<div class="custom-modal" ng-show="showDelete">
	<div class="modal-dialog">
		<div class="modal-header">
			<header>
				<h4>
					<span>Delete Person</span>
					<a class="close" ng-click="cancel()">×</a>
				</h4>
			</header>
		</div>
		<div class="modal-content">
			<div class="content">
				<p>Are you sure you want to remove {{deletePerson.firstName}} {{deletePerson.lastName}} from the list?</p>
			</div>
		</div>
		<div class="line"></div>
		<div class="modal-buttons">
			<div class="buttons-wrap">
				<button type="button" class="modal-close btn btn-default" ng-click="cancel()">Cancel</button>
				<button type="button" class="modal-submit btn btn-primary" ng-click="delete()">Delete</button>
			</div>
		</div>
	</div>
</div>