.custom-modal .modal-header {
	padding: 10px 15px;
}

.custom-modal .modal-dialog {
	z-index:10000;
	position: absolute;
	width: 50%;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	background-color: #fff;
	box-shadow: 4px 4px 80px #000;
	border-radius: 7px;
}

.custom-modal .modal-content {
	text-align: left;
	box-shadow: none;
	border: 0;
	border-radius: 0;
}

.custom-modal .modal-content ul {
	list-style-type: none;
	padding-left: 10px;
}

.custom-modal .modal-buttons {
	padding: 10px 15px;
	text-align: right;
}

.detail-person-wrapper .line {
	margin-top: 0;
	margin-bottom: 5px;
}

form, p {
	padding: 10px 15px;
}

.add-person p {
	padding: 0;
}
