* {
    outline: 0;
}

.line {
	margin-top: 20px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}

.person-grid .form-control {
    width: auto;
}

.last-viewed {
    margin-top: 20px;
    font-weight: 600;
    color: #DE0202;
}

.grid-cell-template {
    padding: 5px;
}

.grid-header-selectbox {
    min-width: 200px !important;
}

.person-grid .ui-grid-header-cell-wrapper .form-control {
    width: 100%;
    padding: 6px;
}
