<div>
	<!-- TODO: add messages object in all service response callbacks -->
	<div ng-if="message">
		<div class="alert" ng-class="{'alert-success': message.type == 'success', 'alert-danger': message.type == 'danger'}">
			<strong><span style="text-transform: capitalize;">{{message.action}}</span> was <span ng-if="message.type == 'danger'">un</span>successful!</strong>
			<button type="button" class="close" ng-click="closeMessage()">x</button>
		</div>
	</div>
	<div class="person-grid">
		<input type="text" class="form-control" placeholder="Enter text to filter persons" ng-model="query">
		<div class="line"></div>
		<table class="table">
			<thead>
			<tr>
				<th>
					<a href="" ng-click="setPredAndRev('lastName', !reverse)">
						Last Name
						<span ng-class="(predicate == 'lastName') ? (reverse ? arrowsCls.bottom : arrowsCls.top) : ''"></span>
					</a>
				</th>
				<th>
					<a href="" ng-click="setPredAndRev('firstName', !reverse)">
						First Name
						<span ng-class="(predicate == 'firstName') ? (reverse ? arrowsCls.bottom : arrowsCls.top) : ''"></span>
					</a>
				</th>
				<th>
					<a href="" ng-click="setPredAndRev('age', !reverse)">
						Age
						<span ng-class="(predicate == 'age') ? (reverse ? arrowsCls.bottom : arrowsCls.top) : ''"></span>
					</a>
				</th>
				<th>
					<a href="" ng-click="setPredAndRev('address.city', !reverse)">
						City
						<span ng-class="(predicate == 'address.city') ? (reverse ? arrowsCls.bottom : arrowsCls.top) : ''"></span>
					</a>
				</th>
				<th>
					<select class="form-control" ng-model="phoneType">
						<option value="home">Home Phone Number</option>
						<option value="fax">Fax Number</option>
					</select>
				</th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="person in persons | filter:query | orderBy:predicate:reverse">
				<td><a ng-href="#/person/{{person.id}}">{{person.lastName}}</a></td>
				<td>{{person.firstName}}</td>
				<td>{{person.age}}</td>
				<td>{{person.address.city}}</td>
				<td>
					<span ng-repeat="phone in person.phoneNumber | filter:typeFilter(person)">{{phone.number}}</span>
				</td>
				<td>
					<button type="button" class="btn btn-default glyphicon glyphicon-pencil" ng-click="toggleEditModal(this.person)"></button>
					<button type="button" class="btn btn-default glyphicon glyphicon-trash" ng-click="toggleDeleteModal(this.person)"></button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="last-viewed" ng-show="lastViewed.person != null">
		Last viewed: {{lastViewed.person.firstName}} {{lastViewed.person.lastName}}
	</div>
	<button class="btn btn-primary" ng-click="toggleAddModal()"><span class="glyphicon glyphicon-plus"></span>&#32;Add New Person</button>

	<!-- TODO: try use only one modal popup for all actions -->
	<edit-person-modal show-edit="showEdit"
				  toggle-edit-modal="toggleEditModal()"
				  edit-person="editPerson"
			update-person="updatePerson(value)">
	</edit-person-modal>
	<delete-person-modal show-delete="showDelete"
						toggle-delete-modal="toggleDeleteModal()"
						delete-person="deletePerson"
						remove-person="removePerson({id : deletePerson.id})"></delete-person-modal>
	<add-person-modal show-add="showAdd"
						toggle-add-modal="toggleAddModal()"
						add-person="addPerson({person: newPerson})"
						new-person="newPerson"></add-person-modal>

</div>