<div class="detail-person-wrapper">
	<header>
		<h3>Edit person: {{person.firstName}} {{person.lastName}}</h3>
	</header>
	<div class="line"></div>
	<form name="edit_form" novalidate ng-submit="update()">
		<div class="details row">
			<div class="col-sm-6 col-xs-6">
				<div class="form-group" ng-class="{'has-error': edit_form.age.$invalid}">
					<label for="age">Age *</label>
					<input id="age"
						   name="age"
						   type="number"
						   class="form-control"
						   ng-model="person.age"
						   ng-min="1"
						   ng-max="199"
						   required>
					<div class="error-container" ng-show="edit_form.age.$dirty && edit_form.age.$invalid">
						<p class="error" ng-show="edit_form.age.$error.required">
							Age is required
						</p>
						<p class="error" ng-show="edit_form.age.$error.min">
							Age should be more than 0
						</p>
						<p class="error" ng-show="edit_form.age.$error.max">
							Age should be less than 199
						</p>
						<p class="error" ng-show="edit_form.age.$error.number">
							Input only numbers, please!
						</p>
					</div>
				</div>
				<div class="form-group">
					<label for="street">Street</label>
					<input id="street" type="text" class="form-control" ng-model="person.address.streetAddress">
				</div>
				<div class="form-group" ng-class="{'has-error': edit_form.city.$invalid}">
					<label for="city">City *</label>
					<input id="city"
						   name="city"
						   type="text"
						   class="form-control"
						   ng-model="person.address.city"
						   ng-minlength="3"
						   ng-maxlength="50"
						   ng-pattern="/^[a-zA-Z\s]*$/"
						   required>
					<div class="error-container" ng-show="edit_form.city.$dirty && edit_form.city.$invalid">
						<p class="error" ng-show="edit_form.city.$error.required">
							City is required
						</p>
						<p class="error" ng-show="edit_form.city.$error.minlength">
							Min length is 3 characters
						</p>
						<p class="error" ng-show="edit_form.city.$error.maxlength">
							Max length is 50 characters
						</p>
						<p class="error" ng-show="edit_form.city.$error.pattern">
							Are you from other planet? No? Then enter only the letters, please!
						</p>
					</div>
				</div>
				<div class="form-group">
					<label for="state">State</label>
					<input id="state" type="text" class="form-control" ng-model="person.address.state">
				</div>
			</div>
			<div class="col-sm-6 col-xs-6">
				<div class="form-group" >
					<label for="postal-code">Postal Code</label>
					<input id="postal-code" type="text" class="form-control" ng-model="person.address.postalCode">
				</div>
				<div class="form-group" ng-class="{'has-error': edit_form.home_number.$invalid}">
					<label for="home-number">Home Number *</label>
					<input id="home-number"
						   name="home_number"
						   type="text"
						   class="form-control"
						   ng-model="person.phoneNumber[0].number" ng-pattern="/^([\d]{3})([.-]{1})([\d]{3})([.-]{1})([\d]{4})$/">
					<div class="error-container" ng-show="edit_form.home_number.$dirty && edit_form.home_number.$invalid">
						<p class="error" ng-show="edit_form.home_number.$error.pattern">
							Please enter correct Phone (10 digits)
						</p>
					</div>
				</div>
				<div class="form-group">
					<label for="fax-number">Fax Number *</label>
					<input id="fax-number" type="text" class="form-control" ng-model="person.phoneNumber[1].number">

					<!--TODO: add the same validation as for Home Number but to write custom directive for it-->

				</div>
			</div>
		</div>
		<div class="line"></div>
		<div class="form-group pull-right">
			<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
			<button type="submit" class="btn btn-primary">Update</button>
		</div>
		<div class="error-container form-message pull-right" ng-show="edit_form.$dirty && edit_form.$invalid">
			<p>Please correct error in the form above</p>
		</div>
	</form>
</div>