<div>
	<!-- TODO: add messages object in all service response callbacks -->
	<div ng-if="message">
		<div class="alert" ng-class="{'alert-success': message.type == 'success', 'alert-danger': message.type == 'danger'}">
			<strong><span style="text-transform: capitalize;">{{message.action}}</span> was <span ng-if="message.type == 'danger'">un</span>successful!</strong>
			<button type="button" class="close" ng-click="closeMessage()">x</button>
		</div>
	</div>
	<div class="person-grid">
		<input type="text" class="form-control" placeholder="Enter text to filter persons" ng-model="query">
		<div class="line"></div>
		<table class="table">
			<thead>
			<tr>
				<th>
					<a href="" ng-click="setPredAndRev('lastName', !reverse)">
						Last Name
						<span ng-class="(predicate == 'lastName') ? (reverse ? arrowsCls.bottom : arrowsCls.top) : ''"></span>
					</a>
				</th>
				<th>
					<a href="" ng-click="setPredAndRev('firstName', !reverse)">
						First Name
						<span ng-class="(predicate == 'firstName') ? (reverse ? arrowsCls.bottom : arrowsCls.top) : ''"></span>
					</a>
				</th>
				<th>
					<a href="" ng-click="setPredAndRev('age', !reverse)">
						Age
						<span ng-class="(predicate == 'age') ? (reverse ? arrowsCls.bottom : arrowsCls.top) : ''"></span>
					</a>
				</th>
				<th>
					<a href="" ng-click="setPredAndRev('address.city', !reverse)">
						City
						<span ng-class="(predicate == 'address.city') ? (reverse ? arrowsCls.bottom : arrowsCls.top) : ''"></span>
					</a>
				</th>
				<th>
					<select class="form-control" ng-model="phoneType">
						<option value="home">Home Phone Number</option>
						<option value="fax">Fax Number</option>
					</select>
				</th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="person in persons | filter:query | orderBy:predicate:reverse">
				<td><a ng-href="#/person/{{person.id}}">{{person.lastName}}</a></td>
				<td>{{person.firstName}}</td>
				<td>{{person.age}}</td>
				<td>{{person.address.city}}</td>
				<td>
					<span ng-repeat="phone in person.phoneNumber | filter:typeFilter(person)">{{phone.number}}</span>
				</td>
				<td>
					<button type="button" class="btn btn-default glyphicon glyphicon-pencil" ng-click="toggleModal('update', this.person)"></button>
					<button type="button" class="btn btn-default glyphicon glyphicon-trash" ng-click="toggleModal('delete', this.person)"></button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="last-viewed" ng-show="lastViewed.person != null">
		Last viewed: {{lastViewed.person.firstName}} {{lastViewed.person.lastName}}
	</div>
	<button class="btn btn-primary" ng-click="addNewPerson()"><span class="glyphicon glyphicon-plus"></span>&#32;Add New Person</button>

	<!--Edit person modal-->
	<custom-modal header="{{person.firstName}} {{person.lastName}}"
				  show="show.update"
				  person="person"
				  onsubmit="updatePerson()">
		<div ng-include src="'../templates/updatePerson.html'"></div>
	</custom-modal>

	<!--Delete person modal-->
	<custom-modal header="Delete Person"
				  show="show.delete"
				  ok-text="Delete"
				  person="person"
				  onsubmit="removePerson()">
		<p>Are you sure you want to remove {{person.firstName}} {{person.lastName}} from the list?</p>
	</custom-modal>

	<!--Add person modal-->
	<custom-modal header="Add Person"
				  show="show.add"
				  person="person"
				  onsubmit="addPerson()">
		<div ng-include src="'../templates/addPerson.html'"></div>
	</custom-modal>

</div>